build/
.plans/
benchmarks/
notes/
protos/
services/
scripts/
examples/
genproto/
data/
target/

.DS_Store
.clangd
.crsr
*.idx
*.bin
*.md
*.onnx

Makefile

genembeddings/*.txt
tools/genembeddings/.*
tools/genembeddings/models
tools/genembeddings/*.txt

AGENTS.md
!README.md
